<dx-chart
  id="chart"
  [dataSource]="populationData"
  title="Number of alerts and alarams by area"
>
  <dxi-series valueField="unacknowledged_alarm" name="unacknowledged" stack="alarm">
  </dxi-series>
  <dxi-series valueField="acknowledged_alarm" name="acknowledged" stack="alarm">
  </dxi-series>
  <dxi-series valueField=" unacknowledged_alert"name="unacknowledged" stack="alert">
  </dxi-series>
  <dxi-series
    valueField="acknowledged_alert"
    name="acknowledged"
    stack="alert"
  >
  </dxi-series>
  <dxo-common-series-settings argumentField="state" type="fullStackedBar">
  </dxo-common-series-settings>
  <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
  </dxo-legend>
  <dxo-export [enabled]="true"></dxo-export>
  <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
  </dxo-tooltip>
</dx-chart>